RewriteEngine On
RewriteBase /

RewriteRule ^home$ index.html [L]
RewriteRule ^social-media$ pg2.html [L]
RewriteRule ^streaming$ pg3.html [L]
RewriteRule ^learn$ pg4.html [L]
RewriteRule ^ai$ pg5.html [L]
RewriteRule ^edit$ pg6.html [L]
RewriteRule ^develop$ pg7.html [L]
RewriteRule ^e-services$ pg8.html [L]
RewriteRule ^explore$ pg9.html [L]
RewriteRule ^download$ pg10.html [L]
RewriteRule ^devices$ pg11.html [L]
RewriteRule ^search$ pg12.html [L]
RewriteRule ^darkweb$ pg13.html [L]
RewriteRule ^discover$ pg14.html [L]
RewriteRule ^about$ pg15.html [L]
RewriteRule ^new$ nouveaux.html [L]
RewriteRule ^search-results$ search-results.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]
