RewriteEngine On
RewriteRule ^accueil$ index.html [L]
RewriteRule ^medias-sociaux$ pg2.html [L]
RewriteRule ^streaming$ pg3.html [L]
RewriteRule ^apprendre$ pg4.html [L]
RewriteRule ^ia$ pg5.html [L]
RewriteRule ^editer$ pg6.html [L]
RewriteRule ^developper$ pg7.html [L]
RewriteRule ^e-services$ pg8.html [L]
RewriteRule ^explorer$ pg9.html [L]
RewriteRule ^telecharger$ pg10.html [L]
RewriteRule ^mobiles-pc$ pg11.html [L]
RewriteRule ^rechercher$ pg12.html [L]
RewriteRule ^darkweb$ pg13.html [L]
RewriteRule ^decouvrir$ pg14.html [L]
